html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before,
body,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

* {
  padding: 10px;
  margin: 10px;
}

:root {
  --height-elementos-internos: 1.5rem;
  /* ******************************* */
  --height-ementos-internos-768: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background-color: aqua;
}

/** ============================================================         Mobile
==============================================================

/** nav - Header
==================================
*/

.boxNavHeader {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
}

.navBox {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;

  background-color: #3881e0;
}

.navBoxLogo,
.navBoxNav,
.navBoxSocialMedia {
  height: var(--height-elementos-internos);
  padding: 0 0.8rem;
  background-color: #ffffff;
}

.navBoxLogo {
  flex: 1 1 auto;
}

.navBoxNav {
  flex: 5 1 auto;
}

.navBoxSocialMedia {
  flex: 1 1 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: #276678;
}

.headerItem {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  height: var(--height-elementos-internos);
  background-color: #ffe227;
}

/** Section
==================================
*/
.section {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 208, 0);
}

.sectionArticleBox {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #6930c3;
}

.articleBoxItem1,
.articleBoxItem2,
.articleBoxItem3,
.articleBoxItem4 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 35%;
  height: var(--height-elementos-internos);
  background-color: #33d6cb;
}

.articleBoxItem5 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  height: var(--height-elementos-internos);
  background-color: rgb(255, 255, 255);
}

.sectionAside {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: #75cfb8;
}

.asideItem {
  background-color: rgb(255, 0, 0);
}

/** Footer
==================================
*/
.footer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgb(85, 85, 85);
}

.footerInfo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgb(135, 168, 228);
}

/** ============================================================          Media Querie 768px
===============================================================
*/
@media screen and (min-width: 768px) {
  /** nav - Header
  ==================================
  */

  .navBox,
  .header {
    height: 100%;
  }

  .navBoxLogo,
  .navBoxNav,
  .navBoxSocialMedia,
  .headerItem {
    height: var(--height-ementos-internos-768);
  }

  /** section
  ==================================
  */

  .sectionArticleBox,
  .sectionAside {
    height: 100%;
  }

  .articleBoxItem1,
  .articleBoxItem2,
  .articleBoxItem3,
  .articleBoxItem4,
  .articleBoxItem5,
  .asideItem {
    height: var(--height-ementos-internos-768);
  }

  /** section
  ==================================
  */
  .footer {
    height: 100%;
  }

  .footerInfo {
    height: var(--height-ementos-internos-768);
  }
}

/** ============================================================          Media Querie 1024px
===============================================================
*/

@media screen and (min-width: 1024px) {
  .section {
    flex-direction: row;
  }

  .sectionAside {
    height: auto;
  }
}
